<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Databsae name and connection string-->
    <add key="DatabaseName" value="BTPNS"/>
    <add key="ConnectionString" value="User ID=sa;password=Server;Database=BTPNS;server=HHI008-DEV-LAPT\SQLEXPRESS01;Connection Timeout=0"/>
    <!--Allow to target script for a specific DB instance only (mostly Cremas)-->
    <!--Basckup destination folder, both the machine running the scripts and the server must have access to it-->
    <add key="BackupFolder" value="c:\DBbackup\"/>
    <!--Allow to skip database backup, if running the scripts from a remote machine for ex.-->
    <add key="SkipBackup" value="true"/>
    <add key="ZipBackups" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
