@using BTPNS.Core
@inject IHtmlLocalizer<AppResources> AppResources

<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; @AppResources["AppName"]</span>
        </div>
    </div>
</footer>